body{
    color: #000;
}
.card-header.py-3 h6.m-0.font-weight-bold.text-primary.d-inline-block {
    line-height: 31px !important;
}
footer.sticky-footer {
    margin-top: 50px;
}

.table a.btn.pd0{
    padding: 4px 8px !important;
}

.table .fa, .table .fas {
    color: #fff !important;
}
.table-responsive {
    display: inline-table;
}
.form-group .form-check-inline {
    padding-left: 20px;
}
.form-group .form-check-inline .form-check-label {
    margin-left: 15px;
}
#msg {
    margin: 8px 0 0 10px;
    /* font-weight: 600; */
}
span#status {
    color: green;
}

span#error {
    color: red;
}

.profilepic {
    width: 200px;
    margin: 0 auto;
}
img.img-profile.img-fluid.img-thumbnail.img-pointer{
    cursor: pointer;
}
.innerdiv {
    border: 1px solid #d6671f;
    padding: 30px;
    background: #b9cdda4a;
}
.outerdiv {
    width: 45% !important;
    margin: 0 auto;
}
.text-center.mt-4.mb-4 h1.h3.mb-0.text-gray-800 {
    color: #333 !important;
}
.innerdiv .form-group label {
    color: #000;
    font-size: 17px;
    font-weight: 500;
}
span.requerd {
    color: red;
}
span.mr-2.d-none.d-lg-inline.text-gray-600.small {
    font-size: 18px;
}

.sidebar .nav-item .nav-link .img-profile, .topbar .nav-item .nav-link .img-profile {
    height: 3rem;
    width: 3rem;
}
.rotate-n-15 {
    transform: none;
}

.text-tomato {
    color: #f57343;
}

nav.navbar a.sidebar-brand.d-flex.align-items-center.justify-content-center {
    font-size: 21px !important;
}
.sidebar-brand.d-flex.align-items-center.justify-content-center:hover {
    text-decoration: none;
}
nav.navbar .sidebar-brand-text.mx-3 {
    text-transform: uppercase !important;
}

.well {
    padding: 15px 0;
    background: #4d6fd4;
    margin: 10px 0;
    font-size: 20px;
    color: #000;
}
.heading p.text-center {
    font-size: 20px;
    font-weight: 600;
    background: #dcac59;
    padding: 10px 0 !important;
}
.panel-heading {
    padding: 20px 20px;
    background: #ddd;
    margin: 0 0 10px 0;
    overflow: hidden;
}
.h2, h2 {
    font-size: 0rem;
    margin-bottom: 0;
}
.panel.panel-default {
    border: 1px solid #bdbec4;
}
.table {
    margin-bottom: 0rem;
}
.panel-body-mrl {
    padding: 0 20px;
}
.mtrl {
    margin: 10px 20px;
}
.formouter{
    padding: 30px;
}


.topbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #4e73e5;
}
.topbar.navbar-light .navbar-nav .nav-item .nav-link:hover {
    color: #1428e9;
}

.b-bottom{
    padding: 6px 10px;
    border-bottom: 2px solid tomato;
}

input#remember {
    margin-top: 12px;
}

.form-check {
    margin: 10px 0;
    font-size: 16px;
}
label.control-label {
    font-size: 20px;
    font-weight: 600;
}
input#radioans {
    width: 20px;
    margin-left: -27px;
    height: 16px;
}
label.form-check-label {
    margin: 5px 0 0px 10px;
}
.panel-body .info {
    padding: 0px 30px;
}

.panel-body .info .form-group {
    margin: 50px;
}

.answiew-heading {
    font-size: 23px;
    background: #dcac59;
    padding: 7px 0;
    margin: 40px 0;
}

.answiew-heading p.text-center {
    line-height: 20px;
    margin: 0;
    padding: 10px;
}
.congrats {
    font-weight: 600;
    color: tomato;
}









@media only screen and (max-width: 992px){
    .outerdiv {
        width: 50% !important;
    }
    .table-responsive {
        display: block;
    }
}

@media only screen and (max-width: 768px){
    .outerdiv {
        width: 60% !important;
    }
}

@media only screen and (max-width: 560px){
    .outerdiv {
        width: 90% !important;
    }
}










